.terminator-terminal-window notebook tab {
  background-color: #222;
}
.terminator-terminal-window notebook tab:checked {
  background-image: none;
  background-color: #2E8B57;
}
.terminator-terminal-window notebook header {
    background-color: #444;
}
