[user]
    email = likang@tju.edu.cn
    name = kang
[push]
    default = matching
[color]
    ui = true
[alias]
    br = branch
    st = status
    co = checkout
    cm = commit
    ca = commit --amend
    df = difftool
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    reg = reflog
[core]
    editor = vim
    autocrlf = input
[diff]
    tool = vimdiff
[difftool]
    prompt = false
